body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:518px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:398px;
  height:808px;
}
#u61 {
  position:absolute;
  left:120px;
  top:10px;
  width:398px;
  height:808px;
}
#u62 {
  position:absolute;
  left:2px;
  top:396px;
  width:394px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u63 {
  position:absolute;
  left:139px;
  top:86px;
  width:360px;
  height:640px;
}
#u64 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:146px;
  top:111px;
  width:42px;
  height:24px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u66 {
  position:absolute;
  left:176px;
  top:364px;
  width:282px;
  height:36px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
