body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:518px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1243_img {
  position:absolute;
  left:0px;
  top:0px;
  width:398px;
  height:808px;
}
#u1243 {
  position:absolute;
  left:120px;
  top:10px;
  width:398px;
  height:808px;
}
#u1244 {
  position:absolute;
  left:2px;
  top:396px;
  width:394px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1245_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u1245 {
  position:absolute;
  left:139px;
  top:86px;
  width:360px;
  height:640px;
  font-size:18px;
}
#u1246 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1247 {
  position:absolute;
  left:428px;
  top:109px;
  width:71px;
  height:32px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1248_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:25px;
  background:inherit;
  background-color:rgba(250, 250, 250, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u1248 {
  position:absolute;
  left:139px;
  top:166px;
  width:121px;
  height:25px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u1249 {
  position:absolute;
  left:2px;
  top:2px;
  width:117px;
  word-wrap:break-word;
}
#u1250_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:105px;
  background:inherit;
  background-color:rgba(240, 240, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1250 {
  position:absolute;
  left:161px;
  top:345px;
  width:99px;
  height:105px;
}
#u1251 {
  position:absolute;
  left:2px;
  top:44px;
  width:95px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1252_div {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:165px;
  background:inherit;
  background-color:rgba(250, 250, 250, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1252 {
  position:absolute;
  left:260px;
  top:291px;
  width:226px;
  height:165px;
}
#u1253 {
  position:absolute;
  left:2px;
  top:74px;
  width:222px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1254_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u1254 {
  position:absolute;
  left:156px;
  top:347px;
  width:100px;
  height:100px;
}
#u1255 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1256 {
  position:absolute;
  left:139px;
  top:112px;
  width:34px;
  height:33px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
