body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:518px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1233_img {
  position:absolute;
  left:0px;
  top:0px;
  width:398px;
  height:808px;
}
#u1233 {
  position:absolute;
  left:120px;
  top:10px;
  width:398px;
  height:808px;
}
#u1234 {
  position:absolute;
  left:2px;
  top:396px;
  width:394px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1235_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u1235 {
  position:absolute;
  left:139px;
  top:86px;
  width:360px;
  height:640px;
}
#u1236 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1237 {
  position:absolute;
  left:283px;
  top:110px;
  width:79px;
  height:51px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
