body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:518px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1721_img {
  position:absolute;
  left:0px;
  top:0px;
  width:398px;
  height:808px;
}
#u1721 {
  position:absolute;
  left:120px;
  top:10px;
  width:398px;
  height:808px;
}
#u1722 {
  position:absolute;
  left:2px;
  top:396px;
  width:394px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1723 {
  position:absolute;
  left:139px;
  top:86px;
}
#u1723_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u1723_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1724_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u1724 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u1725 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1726 {
  position:absolute;
  left:12px;
  top:109px;
  width:341px;
  height:161px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1727 {
  position:absolute;
  left:12px;
  top:28px;
  width:36px;
  height:26px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1728 {
  position:absolute;
  left:313px;
  top:56px;
  width:47px;
  height:37px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1723_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u1723_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1729_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u1729 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u1730 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1731 {
  position:absolute;
  left:12px;
  top:28px;
  width:36px;
  height:26px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1732 {
  position:absolute;
  left:12px;
  top:186px;
  width:340px;
  height:89px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1733 {
  position:absolute;
  left:12px;
  top:95px;
  width:340px;
  height:46px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1723_state2 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u1723_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1734_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u1734 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u1735 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1736 {
  position:absolute;
  left:307px;
  top:33px;
  width:36px;
  height:26px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1737 {
  position:absolute;
  left:12px;
  top:186px;
  width:340px;
  height:89px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
