body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:518px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1450_img {
  position:absolute;
  left:0px;
  top:0px;
  width:398px;
  height:808px;
}
#u1450 {
  position:absolute;
  left:120px;
  top:10px;
  width:398px;
  height:808px;
}
#u1451 {
  position:absolute;
  left:2px;
  top:396px;
  width:394px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1452 {
  position:absolute;
  left:139px;
  top:86px;
  touch-action:none;
}
#u1452_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u1452_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1453_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u1453 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u1454 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1452_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u1452_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1455_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u1455 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u1456 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1457 {
  position:absolute;
  left:199px;
  top:594px;
  width:154px;
  height:37px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
