body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:518px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1738_img {
  position:absolute;
  left:0px;
  top:0px;
  width:398px;
  height:808px;
}
#u1738 {
  position:absolute;
  left:120px;
  top:10px;
  width:398px;
  height:808px;
}
#u1739 {
  position:absolute;
  left:2px;
  top:396px;
  width:394px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1740 {
  position:absolute;
  left:139px;
  top:86px;
}
#u1740_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u1740_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1741_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u1741 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u1742 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1743 {
  position:absolute;
  left:318px;
  top:600px;
  width:42px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1740_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u1740_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1744_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u1744 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u1745 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1746 {
  position:absolute;
  left:139px;
  top:108px;
  width:42px;
  height:39px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
