body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:518px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1665_img {
  position:absolute;
  left:0px;
  top:0px;
  width:398px;
  height:808px;
}
#u1665 {
  position:absolute;
  left:120px;
  top:10px;
  width:398px;
  height:808px;
}
#u1666 {
  position:absolute;
  left:2px;
  top:396px;
  width:394px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1667 {
  position:absolute;
  left:139px;
  top:86px;
}
#u1667_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u1667_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1668_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u1668 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u1669 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1670 {
  position:absolute;
  left:223px;
  top:204px;
  width:86px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1671 {
  position:absolute;
  left:307px;
  top:22px;
  width:53px;
  height:41px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1667_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u1667_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1672_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u1672 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u1673 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1674 {
  position:absolute;
  left:63px;
  top:203px;
  width:89px;
  height:48px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1667_state2 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u1667_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1675_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u1675 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u1676 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1677 {
  position:absolute;
  left:63px;
  top:203px;
  width:89px;
  height:48px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1678 {
  position:absolute;
  left:13px;
  top:540px;
  width:333px;
  height:39px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1679 {
  position:absolute;
  left:13px;
  top:596px;
  width:333px;
  height:44px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1680 {
  position:absolute;
  left:139px;
  top:112px;
  width:42px;
  height:39px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
