body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:518px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1716_img {
  position:absolute;
  left:0px;
  top:0px;
  width:398px;
  height:808px;
}
#u1716 {
  position:absolute;
  left:120px;
  top:10px;
  width:398px;
  height:808px;
}
#u1717 {
  position:absolute;
  left:2px;
  top:396px;
  width:394px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1718_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u1718 {
  position:absolute;
  left:139px;
  top:86px;
  width:360px;
  height:640px;
}
#u1719 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1720 {
  position:absolute;
  left:139px;
  top:108px;
  width:42px;
  height:39px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
