body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:518px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:398px;
  height:808px;
}
#u52 {
  position:absolute;
  left:120px;
  top:10px;
  width:398px;
  height:808px;
}
#u53 {
  position:absolute;
  left:2px;
  top:396px;
  width:394px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u54 {
  position:absolute;
  left:139px;
  top:86px;
  width:360px;
  height:640px;
}
#u55 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:146px;
  top:111px;
  width:42px;
  height:24px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u57 {
  position:absolute;
  left:179px;
  top:517px;
  width:282px;
  height:36px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u58 {
  position:absolute;
  left:290px;
  top:644px;
  width:59px;
  height:71px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:75px;
}
#u59 {
  position:absolute;
  left:150px;
  top:497px;
  width:340px;
  height:75px;
}
#u60 {
  position:absolute;
  left:2px;
  top:30px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
