body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:518px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1564_img {
  position:absolute;
  left:0px;
  top:0px;
  width:398px;
  height:808px;
}
#u1564 {
  position:absolute;
  left:120px;
  top:10px;
  width:398px;
  height:808px;
}
#u1565 {
  position:absolute;
  left:2px;
  top:396px;
  width:394px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1566 {
  position:absolute;
  left:139px;
  top:86px;
  touch-action:none;
}
#u1566_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u1566_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1567_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u1567 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u1568 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1566_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u1566_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1569_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u1569 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u1570 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1571 {
  position:absolute;
  left:139px;
  top:112px;
  width:34px;
  height:33px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1572 {
  position:absolute;
  left:434px;
  top:144px;
  width:57px;
  height:35px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
