body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:518px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1747_img {
  position:absolute;
  left:0px;
  top:0px;
  width:398px;
  height:808px;
}
#u1747 {
  position:absolute;
  left:120px;
  top:10px;
  width:398px;
  height:808px;
}
#u1748 {
  position:absolute;
  left:2px;
  top:396px;
  width:394px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1749 {
  position:absolute;
  left:139px;
  top:86px;
}
#u1749_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u1749_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1750_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u1750 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u1751 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1752 {
  position:absolute;
  left:6px;
  top:108px;
  width:347px;
  height:32px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1753 {
  position:absolute;
  left:6px;
  top:162px;
  width:347px;
  height:32px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1754 {
  position:absolute;
  left:0px;
  top:22px;
  width:42px;
  height:39px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1755 {
  position:absolute;
  left:6px;
  top:604px;
  width:347px;
  height:28px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1749_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u1749_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1756_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u1756 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u1757 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1758 {
  position:absolute;
  left:139px;
  top:540px;
  width:89px;
  height:41px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1759 {
  position:absolute;
  left:139px;
  top:599px;
  width:89px;
  height:41px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
