body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:518px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u386_img {
  position:absolute;
  left:0px;
  top:0px;
  width:398px;
  height:808px;
}
#u386 {
  position:absolute;
  left:120px;
  top:10px;
  width:398px;
  height:808px;
}
#u387 {
  position:absolute;
  left:2px;
  top:396px;
  width:394px;
  visibility:hidden;
  word-wrap:break-word;
}
#u388_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u388 {
  position:absolute;
  left:139px;
  top:86px;
  width:360px;
  height:640px;
}
#u389 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u390 {
  position:absolute;
  left:147px;
  top:113px;
  width:28px;
  height:28px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u391 {
  position:absolute;
  left:429px;
  top:113px;
  width:70px;
  height:28px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
