body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:518px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u999_img {
  position:absolute;
  left:0px;
  top:0px;
  width:398px;
  height:808px;
}
#u999 {
  position:absolute;
  left:120px;
  top:10px;
  width:398px;
  height:808px;
}
#u1000 {
  position:absolute;
  left:2px;
  top:396px;
  width:394px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1001_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u1001 {
  position:absolute;
  left:139px;
  top:86px;
  width:360px;
  height:640px;
}
#u1002 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1003 {
  position:absolute;
  left:428px;
  top:109px;
  width:71px;
  height:32px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1004_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u1004 {
  position:absolute;
  left:299px;
  top:373px;
  width:40px;
  height:40px;
}
#u1005 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1006_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:105px;
}
#u1006 {
  position:absolute;
  left:159px;
  top:344px;
  width:105px;
  height:105px;
}
#u1007 {
  position:absolute;
  left:2px;
  top:44px;
  width:101px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1008_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1008 {
  position:absolute;
  left:218px;
  top:433px;
  width:37px;
  height:16px;
  color:#FFFFFF;
}
#u1009 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u1010_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:42px;
}
#u1010 {
  position:absolute;
  left:193px;
  top:380px;
  width:42px;
  height:42px;
}
#u1011 {
  position:absolute;
  left:2px;
  top:13px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1012_div {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:169px;
  background:inherit;
  background-color:rgba(250, 250, 250, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1012 {
  position:absolute;
  left:269px;
  top:294px;
  width:219px;
  height:169px;
}
#u1013 {
  position:absolute;
  left:2px;
  top:76px;
  width:215px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1014_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:16px;
}
#u1014 {
  position:absolute;
  left:210px;
  top:395px;
  width:13px;
  height:16px;
}
#u1015 {
  position:absolute;
  left:2px;
  top:0px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
