body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:518px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1704_img {
  position:absolute;
  left:0px;
  top:0px;
  width:398px;
  height:808px;
}
#u1704 {
  position:absolute;
  left:120px;
  top:10px;
  width:398px;
  height:808px;
}
#u1705 {
  position:absolute;
  left:2px;
  top:396px;
  width:394px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1706 {
  position:absolute;
  left:139px;
  top:86px;
}
#u1706_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u1706_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1707_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u1707 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u1708 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1709 {
  position:absolute;
  left:0px;
  top:22px;
  width:42px;
  height:39px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1710 {
  position:absolute;
  left:10px;
  top:92px;
  width:343px;
  height:47px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1711 {
  position:absolute;
  left:10px;
  top:186px;
  width:343px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1706_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u1706_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1712_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u1712 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u1713 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1714 {
  position:absolute;
  left:306px;
  top:29px;
  width:42px;
  height:39px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1715 {
  position:absolute;
  left:6px;
  top:87px;
  width:342px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
