body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:518px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1037_img {
  position:absolute;
  left:0px;
  top:0px;
  width:398px;
  height:808px;
}
#u1037 {
  position:absolute;
  left:120px;
  top:10px;
  width:398px;
  height:808px;
}
#u1038 {
  position:absolute;
  left:2px;
  top:396px;
  width:394px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1039_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u1039 {
  position:absolute;
  left:139px;
  top:86px;
  width:360px;
  height:640px;
}
#u1040 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1041_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:589px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1041 {
  position:absolute;
  left:139px;
  top:137px;
  width:360px;
  height:589px;
}
#u1042 {
  position:absolute;
  left:2px;
  top:286px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1043_img {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:474px;
}
#u1043 {
  position:absolute;
  left:140px;
  top:160px;
  width:358px;
  height:474px;
}
#u1044 {
  position:absolute;
  left:2px;
  top:229px;
  width:354px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1045_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:474px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.588235294117647);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1045 {
  position:absolute;
  left:138px;
  top:160px;
  width:360px;
  height:474px;
}
#u1046 {
  position:absolute;
  left:2px;
  top:229px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1047_div {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1047 {
  position:absolute;
  left:139px;
  top:112px;
  width:44px;
  height:25px;
}
#u1048 {
  position:absolute;
  left:2px;
  top:4px;
  width:40px;
  word-wrap:break-word;
}
