body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:518px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:398px;
  height:808px;
}
#u39 {
  position:absolute;
  left:120px;
  top:10px;
  width:398px;
  height:808px;
}
#u40 {
  position:absolute;
  left:2px;
  top:396px;
  width:394px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u41 {
  position:absolute;
  left:139px;
  top:86px;
  width:360px;
  height:640px;
}
#u42 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:146px;
  top:111px;
  width:42px;
  height:24px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u44 {
  position:absolute;
  left:178px;
  top:518px;
  width:282px;
  height:36px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u45 {
  position:absolute;
  left:290px;
  top:661px;
  width:59px;
  height:54px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
