body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:518px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1445_img {
  position:absolute;
  left:0px;
  top:0px;
  width:398px;
  height:808px;
}
#u1445 {
  position:absolute;
  left:120px;
  top:10px;
  width:398px;
  height:808px;
}
#u1446 {
  position:absolute;
  left:2px;
  top:396px;
  width:394px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1447_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u1447 {
  position:absolute;
  left:139px;
  top:86px;
  width:360px;
  height:640px;
}
#u1448 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1449 {
  position:absolute;
  left:279px;
  top:113px;
  width:83px;
  height:48px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
