body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:518px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u985_img {
  position:absolute;
  left:0px;
  top:0px;
  width:398px;
  height:808px;
}
#u985 {
  position:absolute;
  left:120px;
  top:10px;
  width:398px;
  height:808px;
}
#u986 {
  position:absolute;
  left:2px;
  top:396px;
  width:394px;
  visibility:hidden;
  word-wrap:break-word;
}
#u987_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u987 {
  position:absolute;
  left:139px;
  top:86px;
  width:360px;
  height:640px;
}
#u988 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u989 {
  position:absolute;
  left:292px;
  top:115px;
  width:70px;
  height:49px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
